h1 {
    color: red;
    text-align: center;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #dddddd;
}

body {
    padding: 25px;
    background-color: white;
    color: black;
    font-size: 25px;
}
  
.dark-mode {
    background-color: #404258;
    color: white;
}