{% extends 'users/base.html' %}

{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'users/login.css' %}">
{%endblock%}

{% block body %}
    <div class="card">
        <div class="container">
            <form method="POST">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-label" style="color: whitesmoke;">
                        {{ field.label_tag }}
                    </div>
                    <div>
                        {{ field }}
                    </div>
                {% endfor %}
                <button class="button" type="submit">Send</button>
            </form>
        </div>
    </div>
    <p class="reset-link"><a href="{% url 'users:password_reset' %}" style="text-decoration: none; color: rgb(124, 124, 240);  text-align: center;">Forgot your password? Click here to reset.</a></p>
{% endblock %}