{% extends 'users/base.html' %}

{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'users/password-change.css' %}">
{%endblock%}



{% block body %}
    <div class="card">
        <div class="container">
            <form method="POST">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-label">
                        {{ field.label_tag }}
                    </div>
                    <div>
                        {{ field }}
                    </div>
                {% endfor %}
                <button class="button" type="submit">Send</button>
            </form>
        </div>
    </div>
{% endblock %}